{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'booking/styles.css' %}">
    <link rel="icon" href="{% static 'booking/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h2>Login</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <a href="{% url 'google_login' %}">
        <button type="button">Sign in with Google</button>
    </a>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
</body>
</html>
